<% if logged_in? %>
<% provide(:title, "Micropost Feed") %>
  <div class="row">
    <aside class="col-md-4">
      <div>
        <%= render 'shared/user_info' %>
      </div>
       <div class="text-center my-3">
        <%= render 'shared/stats' %>
      </div>
      <div class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </div>
    </aside>
    <div class="col-md-8">
      <h3 class="text-center"><%= yield(:title) %></h3>
      <hr>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<% provide(:title, "Home") %>
<div class="text-center">
	<div>
		<h1>Welcome to the Sample App</h1>
		<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget leo volutpat, congue erat nec, mollis velit. Integer enim nunc, mattis sodales justo vitae, consequat ultricies felis. 
		</p>		
	</div>
	<div>
		<%= image_tag "rails.png", class: "img-fluid", alt: "Logo Rails", style: "width: 50%;" %>
	</div>
	<div class="mt-3">
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
		
</div>
<% end %>