<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4 mb-3">
    <%= render 'shared/user_info' %>
    <div class="text-center mt-2">
      <%= render 'shared/stats' %>
    </div>
    <div class="text-center mt-2">
      <%= render 'follow_form' if logged_in? %>
    </div>
    
  </aside>

  <div class="col-md-8">
    
    <% if @user.microposts.any? %>
      <h3 class="text-center">(<%= @user.microposts.count %>) Microposts of <%= @user.name %> </h3>
      <hr>
      <ol class="list-unstyled microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>