<% provide(:title, @user.name) %>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.updated_at %>
</p>
